extends layout

block content
  div(class='container')
    h3 Top Results
    each location in data
      div(class='col-md-3 col-sm-4 col-xs-6')
        img(src= location.photo_url class='results')
        p(data-toggle='modal' data-target='#modal'+location.id) #{location.name}
      div(id='modal' + location.id class="modal fade" role="dialog")
        div(class='modal-dialog' role='document')
          div(class='modal-content')
            div(class='modal-header')
              button(type='button' class='close' data-dismiss='modal' aria-label='close')
                span(aria-hidden='true') &times;
              h4(class='modal-title' id='myModalLabel') #{location.name}
            div(class='modal-body')
              img(src= location.photo_url)
              p Rating: #{location.rating}
              p Reviews: #{location.num_reviews}
              p Price: #{location.price}
            div(class='modal-footer')
              button(type='button' class='btn btn-default' data-dismiss='modal') Close
              a(class='btn btn-primary' href=location.url) Check It Out
